<div class="container">
  <h1>Are you sure you want to delete this note?</h1>
  <form method="post" action="/delete" name="delete">
  	<input type="hidden" name="_method" value="delete" />
  	<input type="hidden" name="id" value="<%= @note.id %>" />
    <input type="submit" value="Delete Note" />
  </form>
  <form method="get" action="/" name="home">
    <input type="submit" value="Go Back" />
  </form>
</div>