<div class="container">
  <h1>Welcome to Notes!</h1>
  <form method="post" action="/create" name="create">
    <input type="text" name="post[title]" placeholder="Title" />
    <input type="text" name="post[content]" placeholder="Content" />
    <input type="submit" value="Create New Note" />
  </form>
  <table>
    <tr>
      <th>TITLE</th>
      <th>CONTENT</th>
      <th></th>
      <th></th>
    </tr>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td>
          <form method="get" action="/edit">
            <input type="submit" value="Edit?" />
            <input type="hidden" name="note_id" value="<%= note.id  %>" />
          </form>
        </td>
        <td>
          <form method="get" action="/delete">
            <input type="submit" value="Delete?" />
            <input type="hidden" name="note_id" value="<%= note.id  %>" />
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
